  body {
    text-align: left;
    padding: 0px;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
  }

  body {
    font: 20px Helvetica, sans-serif;
    color: #333;
  }

  article {
    display: block;
    text-align: left;
    width: 650px;
    margin: 0 auto;
  }

  a {
    color: #dc8100;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: #333;
    text-decoration: none;
  }

.jumbotron {
   background-color: white;
  }	

  h3 {
   font: 20px Helvetica, sans-serif;
   font-weight: bold;
   }
